.container {
  width: 829px !important;
  min-width: 829px !important;
}

.rectangle {
  height: 132px;
  width: 829px;
  border-radius: 6px;
  border: solid 1px #dddfe0;
  margin: auto 11.6%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 12px !important;
}

.line-rectangle {
  margin: auto;
}

.mytag {
  display: flex;
  height: 42px;
  border-radius: 6px;
  background-color: #eef2f7;
  margin: 7px 6px 5px;
  max-width: 300px;
}

.tag-name {
  font-family: Roboto;
  font-size: 13px;
  background-color: #eef2f7;
  max-width: 255px;
  margin: 14px 12px 13px 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.mytag-big {
  min-width: 300px;
}

.tag-name-big {
  min-width: 256px;
  margin-right: -19px !important;
}

.tag-button {
  width: 11px;
  margin: 11px 13px 13px auto;
  background: none;
}

.tag-button-big {
  margin-right: 3px;
}

.mybutton {
  background: none;
  border: none;
  padding: 0;
}

.tag-grad {
  min-width: 43px;
  height: 42px;
  background: linear-gradient(to right, rgba(238, 242, 247, 0.4), #eef2f7);
}

.enter-text {
  font-family: Roboto;
  font-size: 13px;
  padding: 14px 12px 13px 10px;
  outline: none;
  border: none;
}
