.myform {
    margin: auto;
    width: 540px;
}

.myfield {
    height: 66px !important;
    width: 540px !important;
    border-radius: 6px !important;
    background-color: #eef2f7 !important;
    margin: 24px 0px !important;
    border: none !important;
    padding: 19px !important;
}

.myfield-danger {
    height: 66px !important;
    width: 540px !important;
    border-radius: 6px !important;
    border: solid 1px #d0011b !important;
    margin: 24px 0px;
    padding: 19px;
}

.error-message {
    width: 523px;
    height: 15px;
    font-family: Roboto;
    font-size: 13px;
    color: #d0021b;
    margin-top: -1px;
    margin-bottom: 16px;
}


.myfield-white {
    height: 66px;
    border-radius: 6px;
    background-color: #ffffff;
    min-width: 100%;
    border: 10px;
    padding: 19px;
}

.radio-text {
    width: 245px;
    height: 24px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    margin: 15px auto 27px;
    color: #333333;
}

label.radio-inline.myradio {
    padding-left:0px;
}

.myradio {
    width: 258px;
    min-height: 66px;
    margin: 0px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #dddfe0;
}

.radio-label {
    width: 30px;
    height: 20px;
    font-family: Roboto;
    font-size: 17px;
    color: #333333;
    margin: 2px auto 6px -1px;
}

.radio-div {
    display: flex;
    justify-content: space-around;
}

.mybutton {
    width: 258px;
    height: 66px;
    border-radius: 6px;
    background-color: #ffdd2d;
    margin: auto;
    border: none;
}

.mybutton-apply {
    width: 86px;
    height: 20px;
    font-family: Roboto;
    font-size: 17px;
    color: #333333;
    margin: auto;
}

.mybutton-div {
    width: 258px;
    height: 66px;
    margin: 49px auto;
}

input[type="radio"] {
    display:none; 
    margin-right: 18px;  
    float: right;         
}

input[type="radio"] + label {
    font: 18px bold;
    color: #444;
    cursor: pointer;
    height: 30px;
    width: 100%;
}

input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
    background-image: url(img/group-yellow.svg);
    background-repeat: no-repeat;
    height: 30px;
    float: right;
}
input[type="radio"] + label::before {
    background-image: url(img/group-gray.svg);
    height: 30px;
    width: 30px;
    float: right;
}
input[type="radio"]:checked + label::before {
    background-image: url(img/group-yellow.svg);
    height: 30px;
    width: 30px;
    float: right;
}